* {
  margin: 0;
  padding: 0;
}

 i {
  color:#fff;
}

 i:hover {
  color: #99d4f7;
}

/*#home:hover,
#Whatwedo:hover {
  background-color:pink;
  color: white;
}

#Whatwedo {
  background-color: transparent;
  color: black;
  border: none;
  margin: 4px 0px;
  font-size: 1.5em;
}*/

/* margen redes sociales inicio */
/*.ml-i {
  margin-left: 10vw;
  margin-top: 15vh;
}*/

/* fondo*/

div > h2 {
   font-family: 'Reem kufi';
  font-size: 3em;
}

/*fondo menú  */
.bg {
  background-color: #011534;
  color: #fff;
}

/* bg footer final */
.bg-footer {
  background-color: #5D666F;
  color: #fff;
  /*font-size: .8em;*/
  /*min-height: 10vh;
  min-width: 100vw;*/
}

/* imagen fondo formulario */
.bg-formulario {
  background-image: url("../assets/images/formulario.png");
  background-repeat: round;
  background-size: cover;
  min-height: 100vh;
}

.btnn {
  background-color: #011534 ;
  border-color: none;
  color: #ffffff;
  margin: 4px 6px;
}

.btnn:hover {
  background-color: #D7AF2E;
  color: #ffffff  ;
}


.mt5 {
  margin-top: 5rem;
}

.mt3 {
  margin-top: 3rem;
}

.m-t {
  margin-top: 35px;
  margin-bottom: 35px;
}

.txt {
  color: rgb(0,0,0);
  font-family:  'Montserrat';
  font-size: 1.3rem;
  text-shadow: 1px 2px 6px #CBDFA5;
}

.txt-ul {
  color: #fff;
  font-family:  'Montserrat';
  font-size: 1.3rem;
  /*text-shadow: 1px 2px 6px ;*/
}

